<% provide(:title, 'All users') %>
<h1>All users</h1>

<% if current_user.admin? %>
  <%= render "shared/error_messages", object: @csv_import %>

  <div class="row users-csv-actions">
    <div class="col-xs-6">
      <%= form_with model: @csv_import, url: import_csv_users_path, html: { class: "form-inline" } do |form| %>
        <div class="form-group">
          <%= form.file_field :csv_file, class: "form-control" %>
        </div>
        <%= form.submit "CSVインポート", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-xs-6 text-right">
      <%= link_to "CSVエクスポート", users_path(format: :csv), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
